@model NguoiDungModel
@{
    ViewBag.Title = "Sửa thông tin dịch vụ";

}
<form action="/NguoiDung/Edit" method="post">
    <div class="card mb-4">
        <h6 class="card-header">
            @ViewBag.Title
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/NguoiDung/List">Quay lại danh sách</a>
            </small>
            <div class="btn btn-danger" id="btnDelete" style="float:right;margin-right:5px; ">
                <i class="fas fa-trash" style="margin-right:5px;"></i>
                Xóa
            </div>
            <button type="submit" name="save" class="btn btn-success" style="float:right;margin-right:5px; ">
                <i class="fas fa-save" style="margin-right:5px;"></i>
                Lưu
            </button>

        </h6>
        <div class="card-body">
            @{
                @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control d-none" } })
                Html.RenderPartial("_CreateOrUpdate");
            }
        </div>
    </div>
</form>

@section scripts{
    <script>
        

        $("#btnDelete").on("click", function () {
            swal({
              title: "Bạn có chắc chắn muốn xóa?",
              text: "Mọi dữ liệu liên quan sẽ bị mất!",
              icon: "warning",
              buttons: true,
              dangerMode: true,
            })
            .then((willDelete) => {
              if (willDelete) {
                var _data = {
                    id: $("#ID").val()
                }
                $.ajax({
                        url: "/NguoiDung/Delete",
                        method: "POST",
                        data: _data,
                        success: function (data) {
                            if (data == "ok") {
                                window.location.href = "/NguoiDung/List"
                            }
                        }
                })
              }
            });
        })
    </script>

}