html, body {
    /*height: 100%;*/
}

.overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

#chartdiv {
    width: 100%;
    height: 500px;
}

body {
    background-color: #eee;
    font-family: 'Segoe UI', sans-serif;
}

.box {
    background-color: white;
    padding: 15px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
    margin-bottom: 10px;
}


.dataTables_filter{
    display: none !important;
}

.card-2 {
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    position: relative;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-shadow-1 {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24) !important;
}


.card-shadow-2 {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23) !important;
}

.card-shadow-3 {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23) !important;
}

.card-shadow-4 {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

.card-shadow-5 {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22) !important;
}

.card-hover:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

#UploadImage {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.custom-file-input ~ .custom-file-label::after {
    content: "Chọn ảnh";
}

.text-required::after {
    color: red;
    content: " *"
}

.no-margin-bottom {
    margin-bottom: 0px !important;
}

/*.toast {
    -webkit-backdrop-filter: blur(5px) !important;
    backdrop-filter: blur(5px) !important;
    opacity: 40 !important;
}

.toast-header {
    background-color: rgba(255, 255, 255, 0.2) !important;
}*/