/*****************
-- https://websitegiaredanang.com custom css
*****************/


/*home*/


.footer .widget_text p{
    margin-bottom: 10px;
}

@media (min-width: 992px){

    .form-searh-home{
        margin-top: -140px;
        background-color: rgba(33, 150, 243, 0.9);
    }
    .form-searh-home h2{
        color: #fff;
        margin-bottom: 0;
    }
}
