@model LoaiPhongModel

@{
    ViewBag.Title = "Thêm Loại Phòng";
    ViewBag.Menu = "LoaiPhong";
}

<form action="/LoaiPhong/Create" method="post" enctype="multipart/form-data">
    <div class="card mb-4">
        <h6 class="card-header">
            Thêm mới
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/LoaiPhong/List">Quay lại danh sách</a>
            </small>
            <button type="submit" name="save" class="btn btn-success" style="float:right;margin-right:5px; ">
                <i class="fas fa-save" style="margin-right:5px;"></i>
                Lưu
            </button>
        </h6>
        <div class="card-body">
            @{
                Html.RenderPartial("_CreateOrUpdate");
            }
        </div>
    </div>
</form>
