
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="bg section-bg fill bg-fill  bg-loaded">





</div><!-- .section-bg -->

<div class="section-content relative">

    <div class="gap-element clearfix" style="display:block; height:auto; padding-top:30px"></div>
    <div class="row align-center" id="row-1781573656">
        <div class="col small-12 large-12">
            <div class="col-inner text-center">
                <h2>Hệ thống phòng</h2>
            </div>
        </div>

        <style scope="scope">
        </style>
    </div>
    <div class="row" id="row-1881367991">
        <div class="col small-12 large-12">
            <div class="col-inner">


                <div class="row large-columns-3 medium-columns-2 small-columns-1 row-normal">
                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-hang-sang-2/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1020" height="680" src="~/Assets/User/wp-content/uploads/2019/02/1512358933__SM24879-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/02/1512358933__SM24879-1024x683.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1512358933__SM24879-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1512358933__SM24879-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1512358933__SM24879-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/02/1512358933__SM24879.jpg 1200w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng hạng sang</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-gia-dinh/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1000" height="667" src="~/Assets/User/wp-content/uploads/2019/04/drink-3.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/04/drink-3.jpg 1000w, https://hotel.sonqb.com/wp-content/uploads/2019/04/drink-3-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/04/drink-3-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/04/drink-3-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/04/drink-3-900x600.jpg 900w" sizes="(max-width: 1000px) 100vw, 1000px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng gia đình</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-sang-trong/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1020" height="680" src="~/Assets/User/wp-content/uploads/2019/06/room-3-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3-1024x683.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3-900x600.jpg 900w, https://hotel.sonqb.com/wp-content/uploads/2019/06/room-3.jpg 1200w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng sang trọng</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-loai-thuong/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1020" height="680" src="~/Assets/User/wp-content/uploads/2019/06/thumbnail-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail-1024x683.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail-900x600.jpg 900w, https://hotel.sonqb.com/wp-content/uploads/2019/06/thumbnail.jpg 1200w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng loại thường</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-doi/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1020" height="680" src="~/Assets/User/wp-content/uploads/2019/04/listroom_1-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1-1024x683.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1-900x600.jpg 900w, https://hotel.sonqb.com/wp-content/uploads/2019/04/listroom_1.jpg 1500w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng đôi</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                    <div class="col room-item">
                        <div class="gembooking-room">
                            <a href="room_type/phong-don/index.html">
                                <div class="box-image">
                                    <div class="image-cover" style="padding-top:70%;">
                                        <img width="1020" height="680" src="~/Assets/User/wp-content/uploads/2019/04/room-1-1024x683.jpg" class="attachment-large size-large wp-post-image" alt="" srcset="https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1-1024x683.jpg 1024w, https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1-300x200.jpg 300w, https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1-768x512.jpg 768w, https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1-600x400.jpg 600w, https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1-900x600.jpg 900w, https://hotel.sonqb.com/wp-content/uploads/2019/04/room-1.jpg 1200w" sizes="(max-width: 1020px) 100vw, 1020px" />
                                    </div>
                                </div><!-- .box-image -->

                                <div class="box-text text-center is-large" style="background-color:rgb(255, 255, 255);">
                                    <div class="box-text-inner blog-post-inner">
                                        <h5 class="post-title is-large ">Phòng đơn</h5>
                                        <p class="room__price">
                                            Giá từ <span><span class="gembooking-price "><span class="gembooking-price__amount">100.000</span>&nbsp;<span class="gembooking-price__symbol">&#8363;</span></span></span>/đêm
                                        </p>
                                    </div><!-- .box-text-inner -->
                                </div><!-- .box-text -->
                            </a>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div><!-- .section-content -->


<style scope="scope">
    #section_603993864 {
        padding-top: 30px;
        padding-bottom: 30px;
        background-color: rgb(248, 249, 250);
    }
</style> 