@model ChiTietThuePhongModel

@{
    string guid = Guid.NewGuid().ToString().Replace("-", "");
}
<div class="chitiet" id="chitiet_@guid" data-guid="@guid">
    <div class="btn float-right" data-guid="@guid" style="color:#e53935; margin-top: 10px;" onclick="xoaDivChiTiet('@guid')"><i class="fas fa-minus-circle"></i></div>
    <div class="form-group row" style="padding-top: 2px">
        <div class="dropdown-divider" style="width:100%"></div>
        <div class="col-sm-3">
            <label class="text-sm-left text-required">Chọn loại phòng</label>
            @Html.DropDownListFor(model => model.loaiphong_id, new SelectList(Model.DanhSachLoaiPhong, "Value", "Text"), htmlAttributes: new { @class = "form-control", @id = "loaiphong_" + guid, @required = "true", @title = "Chọn loại phòng" })
            </div>
        <div class="col-sm-3">
            <label class="text-sm-left text-required">Chọn phòng trống</label>
            <select id="phong_@guid" name="phong_id" class="form-control" required title="Vui lòng chọn phòng"></select>

        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Ngày vào</label>
            <input id="ngayvao_@guid" class="form-control datepicker-here" data-position="top center" data-language="vi" placeholder="--Chọn ngày vào--" required title="Vui lòng chọn ngày" />
        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Ngày ra</label>
            <input id="ngayra_@guid" class="form-control datepicker-here" data-position="top center" data-language="vi" placeholder="--Chọn ngày ra--" required title="Vui lòng chọn ngày" />
        </div>
        <div class="col-sm-2">
            <label class="text-sm-left text-required">Giá </label>
            <input class="form-control disabled" disabled id="gia_@guid" />
        </div>
    </div>
</div>
<script>

    $("#loaiphong_" + '@guid').on('change', function () {
        $("#phong_@guid").empty();
        var _data = {
            loaiphong: $(this).find('option:selected').val()
        }
        $.ajax({
            url: '/Phong/GetPhongTrongFromLoaiPhong',
            type: 'POST',
            data: _data,
            success: function (data) {
                for (i = 0; i < data.length; i++) {
                    $("#phong_@guid").append("<option value=" + data[i].ID + ">" + data[i].ma + "</option>");
                }
                $("#phong_@guid").change()
            }
        });
    });
        $("#phong_@guid").on('change', function () {
            $("#gia_@guid").val(0);
            var _data = {
                phong: $(this).find('option:selected').val()
            }
            $.ajax({
                url: '/Phong/GetGiaPhong',
                type: 'POST',
                data: _data,
                success: function (data) {
                    $("#gia_@guid").val(toVND(data));
                }
            });
         });

    $('.datepicker-here').datepicker({
        language: 'vi'
    })
</script>