@model ThuePhongModel
@{
    ViewBag.Title = "Tạo mới đơn đặt phòng";

}
<form action="/ThuePhong/Create" method="post">
    <div class="card mb-4">
        <h6 class="card-header">
            Thêm mới đơn đặt phòng
            <small>
                <i class="fa fa-arrow-circle-left"></i>
                <a href="/DatPhong/List">Quay lại danh sách</a>
            </small>
            <div id="btnSave" name="save" class="btn btn-success" style="float:right;margin-right:5px; ">
                <i class="fas fa-save" style="margin-right:5px;"></i>
                Lưu
            </div>
        </h6>
        <div class="card-body">
            @{
                Html.RenderPartial("_CreateOrUpdate");
            }
        </div>
    </div>
</form>
@section scripts{

    <script>
        $("#btnSave").on("click", function () {
            var listChiTiet = [];
            var ma = $("#ma").val();
            var tenkhachhang = $("#tenkhachhang").val();
            var socmt = $("#socmt").val();
            var sdt = $("#sdt").val();
            $(".chitiet").each(function () {
                var gid = $(this).data("guid");
                console.log(gid)
                loaiphong = $("#loaiphong_" + gid).val();
                phong = $("#phong_" + gid).val();
                ngayvao = $("#ngayvao_" + gid).val();
                ngayra = $("#ngayra_" + gid).val();
                gia = $("#gia_" + gid).val();

                var ChiTiet = {
                    loaiphong_id: loaiphong,
                    phong_id: phong,
                    ngayvao: ngayvao,
                    ngayra: ngayra,
                    gia: gia
                }
                listChiTiet.push(ChiTiet);
            })
            var _data = {
                ChiTietThuePhong: listChiTiet,
                ma: ma,
                tenkhachhang: tenkhachhang,
                socmt: socmt,
                sdt: sdt
            }
            $.ajax({
                data: _data,
                method: "POST",
                url: "/ThuePhong/Create",
                success: function (data) {
                    console.log(data);
                }

            })

        })

       

    </script>

}

