@model KhachHangModel
@{
    ViewBag.Title = "Thêm mới khách hàng";
    ViewBag.Menu = "KhachHang";
}
    <form action="/KhachHang/Create" method="post">
        <div class="card mb-4">
            <h6 class="card-header">
                Thêm mới
                <small>
                    <i class="fa fa-arrow-circle-left"></i>
                    <a href="/KhachHang/List">Quay lại danh sách</a>
                </small>
                <button type="submit" name="save" class="btn btn-success" style="float:right;margin-right:5px; ">
                    <i class="fas fa-save" style="margin-right:5px;"></i>
                    Lưu
                </button>
            </h6>
            <div class="card-body">
                @{
                    Html.RenderPartial("_CreateOrUpdate");
                }
            </div>
        </div>
    </form>