<!DOCTYPE html>
<!--[if IE 9 ]> <html lang="vi-VN" class="ie9 loading-site no-js"> <![endif]-->
<!--[if IE 8 ]> <html lang="vi-VN" class="ie8 loading-site no-js"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="vi-VN" class="loading-site no-js">
<!--<![endif]-->
<!-- Mirrored from hotel.sonqb.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 May 2020 15:13:37 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.html" />

    <script>(function (html) { html.className = html.className.replace(/\bno-js\b/, 'js') })(document.documentElement);</script>
    <title>Hotel Demo &#8211; SONQB Solutions</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="Dòng thông tin Hotel Demo - SONQB Solutions &raquo;" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="Dòng phản hồi Hotel Demo - SONQB Solutions &raquo;" href="comments/feed/index.html" />
    <link rel='stylesheet' id='flatpickr-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/flatpickr/flatpickr8686.css?ver=4.5.1' type='text/css' media='all' />
    <link rel='stylesheet' id='tippy-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/tippy-js/tippyd315.css?ver=2.6.0' type='text/css' media='all' />
    <link rel='stylesheet' id='react-calendar-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/css/react-datepicker.min8a54.css?ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='gembooking-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/css/gembooking5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='gembooking-iconfont-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/fonts/gembooking-webfont5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='gembooking-colour-css' href='~/Assets/User/wp-content/plugins/gembooking/assets/css/gembooking-colour5152.css?ver=1.0' type='text/css' media='all' />
    <link rel='stylesheet' id='wp-block-library-css' href='~/Assets/User/wp-includes/css/dist/block-library/style.min5223.css?ver=5.2.6' type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css' href='~/Assets/User/wp-content/plugins/contact-form-7/includes/css/styles58e0.css?ver=5.1.4' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-custom-css' href='~/Assets/User/wp-content/themes/flatsome-child/assets/css/custom-flatsome5223.css?ver=5.2.6' type='text/css' media='all' />
    <link rel='stylesheet' id='demo-css' href='~/Assets/User/wp-content/themes/flatsome-child/assets/css/demo5223.css?ver=5.2.6' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-icons-css' href='~/Assets/User/wp-content/themes/flatsome/assets/css/fl-icons6de8.css?ver=3.3' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-main-css' href='~/Assets/User/wp-content/themes/flatsome/assets/css/flatsomef3df.css?ver=3.7.2' type='text/css' media='all' />
    <link rel='stylesheet' id='flatsome-style-css' href='~/Assets/User/wp-content/themes/flatsome-child/style6aec.css?ver=3.0' type='text/css' media='all' />
    <script type='text/javascript' src='~/Assets/User/wp-includes/js/jquery/jquery4a5f.js?ver=1.12.4-wp'></script>
    <script type='text/javascript' src='~/Assets/User/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1'></script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/popper-js/popper.minb171.js?ver=1.14.3'></script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/a11y-dialog/a11y-dialog.minfee8.js?ver=5.1.2'></script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/knockout/knockout-latestccfb.js?ver=3.4.2'></script>
    <link rel='https://api.w.org/' href='~/Assets/User/wp-json/index.html' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.html?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/Assets/User/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.2.6" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" href="wp-json/oembed/1.0/embedd986.json?url=https%3A%2F%2Fhotel.sonqb.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="wp-json/oembed/1.0/embedc4e0?url=https%3A%2F%2Fhotel.sonqb.com%2F&amp;format=xml" />
    <link rel="shortcut icon" type="image/png" href="~/Assets/User/wp-content/uploads/2019/09/fav-sonqb.png">
    <link rel="icon" type="image/png" href="~/Assets/User/wp-content/uploads/2019/09/fav-sonqb.png">
    <style>
        .bg {
            opacity: 0;
            transition: opacity 1s;
            -webkit-transition: opacity 1s;
        }

        .bg-loaded {
            opacity: 1;
        }
    </style><!--[if IE]><link rel="stylesheet" type="text/css" href="https://hotel.sonqb.com/wp-content/themes/flatsome/assets/css/ie-fallback.css"><script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script><script>var head = document.getElementsByTagName('head')[0],style = document.createElement('style');style.type = 'text/css';style.styleSheet.cssText = ':before,:after{content:none !important';head.appendChild(style);setTimeout(function(){head.removeChild(style);}, 0);</script><script src="https://hotel.sonqb.com/wp-content/themes/flatsome/assets/libs/ie-flexibility.js"></script><![endif]-->
    <script type="text/javascript">
		WebFontConfig = {
			google: { families: ["Roboto:regular,700", "Muli:regular,regular", "Roboto:regular,regular", "Dancing+Script:regular,400",] }
		};
		(function () {
			var wf = document.createElement('script');
			wf.src = '../ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
			wf.type = 'text/javascript';
			wf.async = 'true';
			var s = document.getElementsByTagName('script')[0];
			s.parentNode.insertBefore(wf, s);
		})();</script>
    <link rel="icon" href="~/Assets/User/wp-content/uploads/2019/09/cropped-fav-sonqb-32x32.png" sizes="32x32" />
    <link rel="icon" href="~/Assets/User/wp-content/uploads/2019/09/cropped-fav-sonqb-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="~/Assets/User/wp-content/uploads/2019/09/cropped-fav-sonqb-180x180.png" />
    <meta name="msapplication-TileImage" content="https://hotel.sonqb.com/wp-content/uploads/2019/09/cropped-fav-sonqb-270x270.png" />
    <style id="custom-css" type="text/css">
        :root {
            --primary-color: #f4511e;
        }
        /* Site Width */
        .full-width .ubermenu-nav, .container, .row {
            max-width: 1170px
        }

            .row.row-collapse {
                max-width: 1140px
            }

            .row.row-small {
                max-width: 1162.5px
            }

            .row.row-large {
                max-width: 1200px
            }

        .header-main {
            height: 80px
        }

        #logo img {
            max-height: 80px
        }

        #logo {
            width: 200px;
        }

        .header-top {
            min-height: 30px
        }

        .has-transparent + .page-title:first-of-type, .has-transparent + #main > .page-title, .has-transparent + #main > div > .page-title, .has-transparent + #main .page-header-wrapper:first-of-type .page-title {
            padding-top: 80px;
        }

        .header.show-on-scroll, .stuck .header-main {
            height: 70px !important
        }

        .stuck #logo img {
            max-height: 70px !important
        }

        .header-bottom {
            background-color: #f1f1f1
        }

        .stuck .header-main .nav > li > a {
            line-height: 50px
        }

        .header-main {
            height: 60px
        }

        #logo img {
            max-height: 60px
        }

        .main-menu-overlay {
            background-color: #000000
        }
        /* Color */
        .accordion-title.active, .has-icon-bg .icon .icon-inner, .logo a, .primary.is-underline, .primary.is-link, .badge-outline .badge-inner, .nav-outline > li.active > a, .nav-outline > li.active > a, .cart-icon strong, [data-color='primary'], .is-outline.primary {
            color: #f4511e;
        }
        /* Color !important */
        [data-text-color="primary"] {
            color: #f4511e !important;
        }
        /* Background Color */
        [data-text-bg="primary"] {
            background-color: #f4511e;
        }
        /* Background */
        .scroll-to-bullets a, .featured-title, .label-new.menu-item > a:after, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, button[type="submit"], .button.wc-forward:not(.checkout):not(.checkout-button), .button.submit-button, .button.primary:not(.is-outline), .featured-table .title, .is-outline:hover, .has-icon:hover .icon-label, .nav-dropdown-bold .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold > li > a:hover, .nav-dropdown-bold.dark .nav-column li > a:hover, .nav-dropdown.nav-dropdown-bold.dark > li > a:hover, .is-outline:hover, .tagcloud a:hover, .grid-tools a, input[type='submit']:not(.is-form), .box-badge:hover .box-text, input.button.alt, .nav-box > li > a:hover, .nav-box > li.active > a, .nav-pills > li.active > a, .current-dropdown .cart-icon strong, .cart-icon:hover strong, .nav-line-bottom > li > a:before, .nav-line-grow > li > a:before, .nav-line > li > a:before, .banner, .header-top, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover, .button.primary:not(.is-outline), input[type='submit'].primary, input[type='submit'].primary, input[type='reset'].button, input[type='button'].primary, .badge-inner {
            background-color: #f4511e;
        }
            /* Border */
            .nav-vertical.nav-tabs > li.active > a, .scroll-to-bullets a.active, .nav-pagination > li > .current, .nav-pagination > li > span:hover, .nav-pagination > li > a:hover, .has-hover:hover .badge-outline .badge-inner, .accordion-title.active, .featured-table, .is-outline:hover, .tagcloud a:hover, blockquote, .has-border, .cart-icon strong:after, .cart-icon strong, .blockUI:before, .processing:before, .loading-spin, .slider-nav-circle .flickity-prev-next-button:hover svg, .slider-nav-circle .flickity-prev-next-button:hover .arrow, .primary.is-outline:hover {
                border-color: #f4511e
            }

        .nav-tabs > li.active > a {
            border-top-color: #f4511e
        }

        .widget_shopping_cart_content .blockUI.blockOverlay:before {
            border-left-color: #f4511e
        }

        .woocommerce-checkout-review-order .blockUI.blockOverlay:before {
            border-left-color: #f4511e
        }
        /* Fill */
        .slider .flickity-prev-next-button:hover svg, .slider .flickity-prev-next-button:hover .arrow {
            fill: #f4511e;
        }

        body {
            font-family: "Muli", sans-serif
        }

        body {
            font-weight: 0
        }

        body {
            color: #333333
        }

        .nav > li > a {
            font-family: "Roboto", sans-serif;
        }

        .nav > li > a {
            font-weight: 0;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .off-canvas-center .nav-sidebar.nav-vertical > li > a {
            font-family: "Roboto", sans-serif;
        }

        h1, h2, h3, h4, h5, h6, .heading-font, .banner h1, .banner h2 {
            font-weight: 700;
        }

        h1, h2, h3, h4, h5, h6, .heading-font {
            color: #333333;
        }

        .alt-font {
            font-family: "Dancing Script", sans-serif;
        }

        .alt-font {
            font-weight: 400 !important;
        }

        a {
            color: #2196f3;
        }

        .widget a {
            color: #333333;
        }

            .widget a:hover {
                color:;
            }

        .widget .tagcloud a:hover {
            border-color:;
            background-color:;
        }

        .footer-2 {
            background-color: #1e73be
        }

        .absolute-footer, html {
            background-color: #0056ba
        }

        .label-new.menu-item > a:after {
            content: "New";
        }

        .label-hot.menu-item > a:after {
            content: "Hot";
        }

        .label-sale.menu-item > a:after {
            content: "Sale";
        }

        .label-popular.menu-item > a:after {
            content: "Popular";
        }
    </style>
    <style type="text/css" id="wp-custom-css">
        .text-box .text {
            -webkit-backface-visibility: initial;
            backface-visibility: initial;
        }

        .footer-wrapper .footer-1 {
            padding: 0;
        }

            .footer-wrapper .footer-1 .row {
                max-width: 100%;
            }

            .footer-wrapper .footer-1 .widget {
                margin: 0;
                padding: 0;
            }

        .footer-wrapper img.size-full.alignnone {
            margin-bottom: 0;
        }
    </style>
</head>

<body class="home page-template page-template-page-blank page-template-page-blank-php page page-id-11 header-shadow lightbox nav-dropdown-has-arrow">


    <a class="skip-link screen-reader-text" href="#main">Skip to content</a>

    <div id="wrapper">


        <header id="header" class="header ">
            <div class="header-wrapper">
                <div id="masthead" class="header-main hide-for-sticky">
                    <div class="header-inner flex-row container logo-left medium-logo-center" role="navigation">

                        <!-- Logo -->
                        <div id="logo" class="flex-col logo">
                            <!-- Header logo -->
                            <a href="index.html" title="Hotel Demo &#8211; SONQB Solutions" rel="home">
                                <img width="200" height="80" src="~/Assets/User/wp-content/uploads/2019/09/logo-sonqb-solutions.png" class="header_logo header-logo" alt="Hotel Demo &#8211; SONQB Solutions" /><img width="200" height="80" src="~/Assets/User/wp-content/uploads/2019/09/logo-sonqb-solutions.png" class="header-logo-dark" alt="Hotel Demo &#8211; SONQB Solutions" />
                            </a>
                        </div>

                        <!-- Mobile Left Elements -->
                        <div class="flex-col show-for-medium flex-left">
                            <ul class="mobile-nav nav nav-left ">
                                <li class="nav-icon has-icon">
                                    <a href="#" data-open="#main-menu" data-pos="left" data-bg="main-menu-overlay" data-color="" class="is-small" aria-controls="main-menu" aria-expanded="false">

                                        <i class="icon-menu"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <!-- Left Elements -->
                        <div class="flex-col hide-for-medium flex-left
            flex-grow">
                            <ul class="header-nav header-nav-main nav nav-left  nav-spacing-xlarge nav-uppercase">
                            </ul>
                        </div>

                        <!-- Right Elements -->
                        <div class="flex-col hide-for-medium flex-right">
                            <ul class="header-nav header-nav-main nav nav-right  nav-spacing-xlarge nav-uppercase">
                                <li id="menu-item-22" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item active  menu-item-22"><a href="index.html" class="nav-top-link">Trang chủ</a></li>
                                <li id="menu-item-20" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-20"><a href="gioi-thieu/index.html" class="nav-top-link">Giới thiệu</a></li>
                                <li id="menu-item-350" class="menu-item menu-item-type-post_type_archive menu-item-object-room_type  menu-item-350"><a href="#" class="nav-top-link">Hệ thống phòng</a></li>
                                <li id="menu-item-21" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-21"><a href="#" class="nav-top-link">Tin tức</a></li>
                                <li id="menu-item-19" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-19"><a href="#" class="nav-top-link">Liên hệ</a></li>
                                <li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
                                    <a href="#" class="is-small"><i class="icon-search"></i></a>
                                    <ul class="nav-dropdown nav-dropdown-default">
                                        <li class="header-search-form search-form html relative has-icon">
                                            <div class="header-search-form-wrapper">
                                                <div class="searchform-wrapper ux-search-box relative form- is-normal">
                                                    <form method="get" class="searchform" action="https://hotel.sonqb.com/" role="search">
                                                        <div class="flex-row relative">
                                                            <div class="flex-col flex-grow">
                                                                <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search&hellip;" />
                                                            </div><!-- .flex-col -->
                                                            <div class="flex-col">
                                                                <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                                                    <i class="icon-search"></i>
                                                                </button>
                                                            </div><!-- .flex-col -->
                                                        </div><!-- .flex-row -->
                                                        <div class="live-search-results text-left z-top"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- .nav-dropdown -->
                                </li>
                            </ul>
                        </div>

                        <!-- Mobile Right Elements -->
                        <div class="flex-col show-for-medium flex-right">
                            <ul class="mobile-nav nav nav-right ">
                                <li class="header-search header-search-dropdown has-icon has-dropdown menu-item-has-children">
                                    <a href="#" class="is-small"><i class="icon-search"></i></a>
                                    <ul class="nav-dropdown nav-dropdown-default">
                                        <li class="header-search-form search-form html relative has-icon">
                                            <div class="header-search-form-wrapper">
                                                <div class="searchform-wrapper ux-search-box relative form- is-normal">
                                                    <form method="get" class="searchform" action="" role="search">
                                                        <div class="flex-row relative">
                                                            <div class="flex-col flex-grow">
                                                                <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search&hellip;" />
                                                            </div><!-- .flex-col -->
                                                            <div class="flex-col">
                                                                <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                                                    <i class="icon-search"></i>
                                                                </button>
                                                            </div><!-- .flex-col -->
                                                        </div><!-- .flex-row -->
                                                        <div class="live-search-results text-left z-top"></div>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                    </ul><!-- .nav-dropdown -->
                                </li>
                            </ul>
                        </div>

                    </div><!-- .header-inner -->
                    <!-- Header divider -->
                    <div class="container"><div class="top-divider full-width"></div></div>
                </div><!-- .header-main -->
                <div class="header-bg-container fill"><div class="header-bg-image fill"></div><div class="header-bg-color fill"></div></div><!-- .header-bg-container -->
            </div><!-- header-wrapper-->
        </header>

        <main id="main" class="">
            @RenderBody();
        </main><!-- #main -->
        <footer id="footer" class="footer-wrapper">


            <!-- FOOTER 1 -->
            <div class="footer-widgets footer footer-1">
                <div class="row large-columns-1 mb-0">
                    <div id="custom_html-2" class="widget_text col pb-0 widget widget_custom_html"><div class="textwidget custom-html-widget"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.879364285257!2d108.19921631423213!3d16.07174868887939!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421851f72e0ec3%3A0xe9a021c949c4b9eb!2zNTEgVMO0biBUaOG6pXQgxJDhuqFtLCBYdcOibiBIw6AsIFRoYW5oIEtow6osIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1549968807421" width="100%" height="300" frameborder="0" style="border:0" allowfullscreen></iframe></div></div>
                </div><!-- end row -->
            </div><!-- footer 1 -->
            <!-- FOOTER 2 -->
            <div class="footer-widgets footer footer-2 dark">
                <div class="row dark large-columns-4 mb-0">
                    <div id="text-2" class="col pb-0 widget widget_text">
                        <span class="widget-title">About Hotel Demo</span><div class="is-divider small"></div>			<div class="textwidget">
                            <p>Địa chỉ: 276 Tôn Đản &#8211; Đà Nẵng</p>
                            <p>Hotline: 0888.577.333</p>
                            <p>Zalo: 0888.577.333</p>
                            <p>E-mail : sonqbzgmail.com</p>
                            <div class="social-icons follow-icons " style="font-size:80%"><a href="https://www.facebook.com/sonqb.solutions" target="_blank" data-label="Facebook" rel="noopener noreferrer nofollow" class="icon primary button circle facebook tooltip" title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="#" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon primary button circle  instagram tooltip" title="Follow on Instagram"><i class="icon-instagram"></i></a><a href="mailto:sonqbzgmail.com" data-label="E-mail" rel="nofollow" class="icon primary button circle  email tooltip" title="Send us an email"><i class="icon-envelop"></i></a><a href="tel:0888577333" target="_blank" data-label="Phone" rel="noopener noreferrer nofollow" class="icon primary button circle  phone tooltip" title="Call us"><i class="icon-phone"></i></a></div>
                        </div>
                    </div><div id="nav_menu-2" class="col pb-0 widget widget_nav_menu">
                        <span class="widget-title">Hệ thống phòng</span><div class="is-divider small"></div><div class="menu-he-thong-phong-container">
                            <ul id="menu-he-thong-phong" class="menu">
                                <li id="menu-item-346" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-346"><a href="room_type/phong-don/index.html">Phòng đơn</a></li>
                                <li id="menu-item-345" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-345"><a href="room_type/phong-doi/index.html">Phòng đôi</a></li>
                                <li id="menu-item-344" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-344"><a href="room_type/phong-loai-thuong/index.html">Phòng loại thường</a></li>
                                <li id="menu-item-342" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-342"><a href="room_type/phong-gia-dinh/index.html">Phòng gia đình</a></li>
                                <li id="menu-item-347" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-347"><a href="room_type/phong-sang-trong/index.html">Phòng sang trọng</a></li>
                                <li id="menu-item-341" class="menu-item menu-item-type-post_type menu-item-object-room_type menu-item-341"><a href="room_type/phong-hang-sang-2/index.html">Phòng hạng sang</a></li>
                            </ul>
                        </div>
                    </div><div id="text-3" class="col pb-0 widget widget_text">
                        <span class="widget-title">Đặt phòng trên các trang</span><div class="is-divider small"></div>			<div class="textwidget">
                            <p><img class="alignnone size-full wp-image-149" src="~/Assets/User/wp-content/uploads/2019/02/logo-vntrip-black.png" alt="" width="120" height="47" /></p>
                            <p><img class="alignnone wp-image-226 size-full" src="~/Assets/User/wp-content/uploads/2019/02/trip-h.png" alt="" width="90" height="92" /></p>
                        </div>
                    </div><div id="custom_html-3" class="widget_text col pb-0 widget widget_custom_html"><span class="widget-title">Kết nối với chúng tôi</span><div class="is-divider small"></div><div class="textwidget custom-html-widget"><div class="fb-page" data-href="https://www.facebook.com/sonqb.solutions" data-tabs="timeline" data-height="200px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/sonqb.solutions" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/sonqb.solutions">SONQB Solutions</a></blockquote></div></div></div>
                </div><!-- end row -->
            </div><!-- end footer 2 -->



            <div class="absolute-footer dark medium-text-center text-center">
                <div class="container clearfix">


                    <div class="footer-primary pull-left">
                        <div class="copyright-footer">
                            Copyright 2020 © <strong>Hotel Demo</strong>. Thiết kế bởi <a href="#">SONQB Solutions</a>
                        </div>
                    </div><!-- .left -->
                </div><!-- .container -->
            </div><!-- .absolute-footer -->

            <a href="#top" class="back-to-top button icon invert plain fixed bottom z-1 is-outline round hide-for-medium" id="top-link"><i class="icon-angle-up"></i></a>

        </footer><!-- .footer-wrapper -->

    </div><!-- #wrapper -->
    <!-- Mobile Sidebar -->
    <div id="main-menu" class="mobile-sidebar no-scrollbar mfp-hide">
        <div class="sidebar-menu no-scrollbar ">
            <ul class="nav nav-sidebar  nav-vertical nav-uppercase">
                <li class="header-search-form search-form html relative has-icon">
                    <div class="header-search-form-wrapper">
                        <div class="searchform-wrapper ux-search-box relative form- is-normal">
                            <form method="get" class="searchform" action="https://hotel.sonqb.com/" role="search">
                                <div class="flex-row relative">
                                    <div class="flex-col flex-grow">
                                        <input type="search" class="search-field mb-0" name="s" value="" id="s" placeholder="Search&hellip;" />
                                    </div><!-- .flex-col -->
                                    <div class="flex-col">
                                        <button type="submit" class="ux-search-submit submit-button secondary button icon mb-0">
                                            <i class="icon-search"></i>
                                        </button>
                                    </div><!-- .flex-col -->
                                </div><!-- .flex-row -->
                                <div class="live-search-results text-left z-top"></div>
                            </form>
                        </div>
                    </div>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-11 current_page_item menu-item-22"><a href="index.html" class="nav-top-link">Trang chủ</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-20"><a href="gioi-thieu/index.html" class="nav-top-link">Giới thiệu</a></li>
                <li class="menu-item menu-item-type-post_type_archive menu-item-object-room_type menu-item-350"><a href="room_type/index.html" class="nav-top-link">Hệ thống phòng</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-21"><a href="tin-tuc/index.html" class="nav-top-link">Tin tức</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-19"><a href="lien-he/index.html" class="nav-top-link">Liên hệ</a></li>
                <li class="html header-social-icons ml-0">
                    <div class="social-icons follow-icons "><a href="http://url/" target="_blank" data-label="Facebook" rel="noopener noreferrer nofollow" class="icon plain facebook tooltip" title="Follow on Facebook"><i class="icon-facebook"></i></a><a href="http://url/" target="_blank" rel="noopener noreferrer nofollow" data-label="Instagram" class="icon plain  instagram tooltip" title="Follow on Instagram"><i class="icon-instagram"></i></a><a href="http://url/" target="_blank" data-label="Twitter" rel="noopener noreferrer nofollow" class="icon plain  twitter tooltip" title="Follow on Twitter"><i class="icon-twitter"></i></a><a href="mailto:youremail" data-label="E-mail" rel="nofollow" class="icon plain  email tooltip" title="Send us an email"><i class="icon-envelop"></i></a></div>
                </li>
            </ul>
        </div><!-- inner -->
    </div><!-- #mobile-menu -->

    <style>
        .hotline-phone-ring-wrap {
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 999999
        }

        .hotline-phone-ring {
            position: relative;
            visibility: visible;
            background-color: transparent;
            width: 110px;
            height: 110px;
            cursor: pointer;
            z-index: 11;
            -webkit-backface-visibility: hidden;
            -webkit-transform: translateZ(0);
            transition: visibility .5s;
            left: 0;
            bottom: 0;
            display: block
        }

        .hotline-phone-ring-circle {
            width: 110px;
            height: 110px;
            top: 0;
            left: 0;
            position: absolute;
            background-color: transparent;
            border-radius: 100%;
            border: 2px solid #1564a7;
            -webkit-animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            animation: phonering-alo-circle-anim 1.2s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            opacity: .5
        }

        .hotline-phone-ring-circle-fill {
            width: 80px;
            height: 80px;
            top: 16px;
            left: 16px;
            position: absolute;
            background-color: rgba(21,100,167,0.7);
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            animation: phonering-alo-circle-fill-anim 2.3s infinite ease-in-out;
            transition: all .5s;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%
        }

        .hotline-phone-ring-img-circle {
            background-color: #1564a7;
            width: 50px;
            height: 50px;
            top: 31px;
            left: 31px;
            position: absolute;
            background-size: 20px;
            border-radius: 100%;
            border: 2px solid transparent;
            -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            justify-content: center
        }

            .hotline-phone-ring-img-circle .pps-btn-img {
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex
            }

                .hotline-phone-ring-img-circle .pps-btn-img img {
                    width: 33px;
                    height: 33px
                }

        .hotline-bar {
            position: absolute;
            background: #1564a7;
            height: 45px;
            width: 165px;
            line-height: 40px;
            border-radius: 3px;
            padding: 0 10px;
            background-size: 100%;
            cursor: pointer;
            transition: all .8s;
            -webkit-transition: all .8s;
            z-index: 9;
            border-radius: 50px !important;
            left: 42px;
            bottom: 31px
        }

            .hotline-bar > a {
                color: #fff;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
                text-indent: 32px;
                letter-spacing: 1px;
                display: block;
                line-height: 45px;
                font-family: Arial
            }

                .hotline-bar > a:hover, .hotline-bar > a:active {
                    color: #fff
                }

        -webkit-keyframes phonering-alo-circle-anim {
            0%

        {
            -webkit-transform: rotate(0) scale(0.5) skew(1deg);
            -webkit-opacity: .1
        }

        30% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            -webkit-opacity: .5
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            -webkit-opacity: .1
        }

        }

        -webkit-keyframes phonering-alo-circle-fill-anim {
            0%

        {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: .6
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg);
            opacity: .6
        }

        100% {
            -webkit-transform: rotate(0) scale(0.7) skew(1deg);
            opacity: .6
        }

        }

        -webkit-keyframes phonering-alo-circle-img-anim {
            0%

        {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        10% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        20% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        30% {
            -webkit-transform: rotate(-25deg) scale(1) skew(1deg)
        }

        40% {
            -webkit-transform: rotate(25deg) scale(1) skew(1deg)
        }

        50% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        100% {
            -webkit-transform: rotate(0) scale(1) skew(1deg)
        }

        }

        .hotline-bar {
            display: none
        }
    </style>

    <div class="hotline-phone-ring-wrap">

        <div class="hotline-phone-ring">

            <div class="hotline-phone-ring-circle"></div>

            <div class="hotline-phone-ring-circle-fill"></div>

            <div class="hotline-phone-ring-img-circle">

                <a href="tel:0888.577.333" class="pps-btn-img">

                    <img src="~/Assets/User/wp-content/themes/flatsome-child/sonqb/plugins/phone-ring/icon-phone.png" alt="Số điện thoại" width="50">

                </a>

            </div>

        </div>

        <div class="hotline-bar">

            <a href="tel:0888.577.333">

                <span class="text-hotline">0888.577.333</span>

            </a>

        </div>

    </div>





    <div id="fb-root"></div>
    <script>
		(function (d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id)) return;
			js = d.createElement(s); js.id = id;
			js.src = '../connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.2&appId=117339255484207&autoLogAppEvents=1';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script><link rel='stylesheet' id='flatsome-effects-css' href='~/Assets/User/wp-content/themes/flatsome/assets/css/effectsf3df.css?ver=3.7.2' type='text/css' media='all' />
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/flatpickr/flatpickr.min8686.js?ver=4.5.1'></script>
    <script type='text/javascript'>(function () { flatpickr.localize({ "firstDayOfWeek": 1, "weekdays": { "shorthand": ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], "longhand": ["Ch\u1ee7 Nh\u1eadt", "Th\u1ee9 Hai", "Th\u1ee9 Ba", "Th\u1ee9 T\u01b0", "Th\u1ee9 N\u0103m", "Th\u1ee9 S\u00e1u", "Th\u1ee9 B\u1ea3y"] }, "months": { "shorthand": ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"], "longhand": ["Th\u00e1ng M\u1ed9t", "Th\u00e1ng Hai", "Th\u00e1ng Ba", "Th\u00e1ng T\u01b0", "Th\u00e1ng N\u0103m", "Th\u00e1ng S\u00e1u", "Th\u00e1ng B\u1ea3y", "Th\u00e1ng T\u00e1m", "Th\u00e1ng Ch\u00edn", "Th\u00e1ng M\u01b0\u1eddi", "Th\u00e1ng M\u01b0\u1eddi M\u1ed9t", "Th\u00e1ng M\u01b0\u1eddi Hai"] } }); })();</script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/vendor/tippy-js/tippy.standalone.mind315.js?ver=2.6.0'></script>
    <script type='text/javascript'>
		/* <![CDATA[ */
		var _gembooking_i18n = { "dateFormat": "j F, Y", "timeFormat": "g:i a", "numberDecimals": "0", "decimalSeparator": ",", "thousandSeparator": ".", "currencySymbol": "\u20ab", "priceFormat": "%v\u00a0%s" };
		var _gembooking = { "ajax_url": "https:\/\/hotel.sonqb.com\/wp-admin\/admin-ajax.php", "route": "https:\/\/hotel.sonqb.com\/gembooking-route\/", "datepicker": { "minNights": 1, "maxNights": 0, "minDate": 0, "disableDays": [], "disableDates": [], "showMonths": 1 } };
		/* ]]> */</script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/js/gembooking.min5152.js?ver=1.0'></script>
    <script type='text/javascript' src='~/Assets/User/wp-includes/js/dist/vendor/moment.mind4d7.js?ver=2.22.2'></script>
    <script type='text/javascript'>moment.locale('vi', { "months": ["Th\u00e1ng M\u1ed9t", "Th\u00e1ng Hai", "Th\u00e1ng Ba", "Th\u00e1ng T\u01b0", "Th\u00e1ng N\u0103m", "Th\u00e1ng S\u00e1u", "Th\u00e1ng B\u1ea3y", "Th\u00e1ng T\u00e1m", "Th\u00e1ng Ch\u00edn", "Th\u00e1ng M\u01b0\u1eddi", "Th\u00e1ng M\u01b0\u1eddi M\u1ed9t", "Th\u00e1ng M\u01b0\u1eddi Hai"], "monthsShort": ["Th1", "Th2", "Th3", "Th4", "Th5", "Th6", "Th7", "Th8", "Th9", "Th10", "Th11", "Th12"], "weekdays": ["Ch\u1ee7 Nh\u1eadt", "Th\u1ee9 Hai", "Th\u1ee9 Ba", "Th\u1ee9 T\u01b0", "Th\u1ee9 N\u0103m", "Th\u1ee9 S\u00e1u", "Th\u1ee9 B\u1ea3y"], "weekdaysShort": ["CN", "T2", "T3", "T4", "T5", "T6", "T7"], "week": { "dow": 1 }, "longDateFormat": { "LT": "g:i a", "LTS": null, "L": null, "LL": "j F, Y", "LLL": "j F, Y g:i a", "LLLL": null } });</script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/gembooking/assets/js/search-form.min5152.js?ver=1.0'></script>
    <script type='text/javascript'>
		/* <![CDATA[ */
		var wpcf7 = { "apiSettings": { "root": "https:\/\/hotel.sonqb.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
		/* ]]> */</script>
    <script type='text/javascript' src='~/Assets/User/wp-content/plugins/contact-form-7/includes/js/scripts58e0.js?ver=5.1.4'></script>
    <script type='text/javascript' src='~/Assets/User/wp-content/themes/flatsome/inc/extensions/flatsome-live-search/flatsome-live-searchf3df.js?ver=3.7.2'></script>
    <script type='text/javascript' src='~/Assets/User/wp-includes/js/hoverIntent.minc245.js?ver=1.8.1'></script>
    <script type='text/javascript'>
		/* <![CDATA[ */
		var flatsomeVars = { "ajaxurl": "https:\/\/hotel.sonqb.com\/wp-admin\/admin-ajax.php", "rtl": "", "sticky_height": "70", "user": { "can_edit_pages": false } };
/* ]]> */</script>
    <script type='text/javascript' src='~/Assets/User/wp-content/themes/flatsome/assets/js/flatsomef3df.js?ver=3.7.2'></script>
    <script type='text/javascript' src='~/Assets/User/wp-includes/js/wp-embed.min5223.js?ver=5.2.6'></script>
    <script type='text/javascript' src='~/Assets/User/wp-content/themes/flatsome-child/assets/libs/html5lightbox/html5lightbox5223.js?ver=5.2.6'></script>

</body>

<!-- Mirrored from hotel.sonqb.com/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 15 May 2020 15:14:02 GMT -->
</html>